<%= form_for(@idea) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="block-update-card status">
    <div class="update-card-body" style="margin-right:10px;">
      <div class="update-card-body">

  <div class="field">
    <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
  </div>

  <hr>
  <!--
  <div class="field">
    <%= f.label :short_description %><br>
    <%= f.text_field :short_description %>
  </div> -->
  <div class="field">
    <%= f.text_area :description,  class: 'form-control', placeholder: 'My idea is...' %>
  </div>
  <div class="field">
    <%= f.text_field :tag_list, class: 'form-control', placeholder: 'Tags: separated by commas...' %>
  </div>
  <div class="actions">
    <%= f.button :submit, class: "btn btn-success pull-right" %>
  </div>
      <span style="margin-bottom:200px; margin-top:200px;">&nbsp;</span>

  </div>
        <span style="margin-bottom:200px; margin-top:200px;">&nbsp;</span>

  </div>
        <span style="margin-bottom:200px; margin-top:200px;">&nbsp;</span>

  </div>


<% end %>


