<!--<div id="tag_cloud">
<% tag_cloud Idea.tag_counts, %w{s m l} do |tag, css_class| %>
  <%= link_to tag.name, tag_path(tag.name), class: css_class %>
  <% end %>
</div> -->

<% @ideas.each do |idea| %>
     <!-- <tr>
        <td><%= idea.title %></td>
        <td><%= idea.short_description %></td>
        <td><%= idea.description %></td>
        <td><%= idea.tag_list %></td>
        Tags: <%= raw idea.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->

        <div class="row">
          <div class="col-md-12">
            <div class="media">          
              <div class="media-body">
                <h3 class="media-heading"><%= link_to idea.title, idea_path(idea) %>&nbsp;<small><%= idea.short_description %> &nbsp;
                  <%= raw idea.tag_list.map {|t| link_to t, tag_path(t), :class => 'label label-default' }.join(' ')%></small>
                </h3>
                <p><%= idea.description %></p>

                <%if idea.liked_by current_user %>
                <%= link_to unlike_idea_path(idea), method: :put do %>
                <%= fa_icon "star" ,class: "" %>
                <% end %>

                <% else %>
                <%= link_to like_idea_path(idea), method: :put do %>
                <%= fa_icon "star-o" ,class: "" %>
                <% end %>

                <% end %>
                <%= idea.get_upvotes.size %>
                <% if idea.followed_by?(current_user) == false %>
                <%= link_to follow_idea_path(idea) do %>
                <%= fa_icon "location-arrow" ,class: "not-following" %>
                <% end %>
                <% else %>
                <%= link_to unfollow_idea_path(idea) do %>
                <%= fa_icon "location-arrow" ,class: "following" %>
                <% end %>


                <% end %>
                <%= idea.followers.count %>



                
              </div>
            </div>
          </div>
        </div>
        <hr>
        <% end %>

        

        <br>


