<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Short description:</strong>
  <%= @idea.short_description %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @idea.tag_list %>
</p>

<p>
	<%= @idea.comments.count %>
	<%= render @idea.comments %>

	Comment:
	<%= render "comments/form" %>

</p>
<%= link_to like_idea_path(@idea), method: :put do %>

	<%= @idea.get_upvotes.size %> Likes

	<% end %>
<%= link_to "Follow", follow_idea_path(@idea) %>
<%= link_to "Unfollow", unfollow_idea_path(@idea) %>
Amount of Followers: <%= @idea.followers.count %>
Followers:
<% @idea.followers.each do |follower| %>
<%= follower.first_name %>
<%= follower.last_name %>
<% end %>

Branches: (<%= @idea.branches.count %>)
<% @idea.branches.each do |branch| %>
<%= branch.branch_name %>
<% end %>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
