 <p id="notice"><%= notice %></p>


<% user_ideas = Idea.where(:user_id => current_user.id) %>

<% user_ideas.each do |idea| %>
    <div class="block-update-card status">
    <div class="update-card-body">
      <div class="update-card-body">


      <center><h3>
      <%= link_to ideas_path do %>
      <%= fa_icon "angle-left", class: "pull-left expand" %>
      <% end %>
      <%= idea.title%>&nbsp;<small> - 
      <%= idea.user.first_name %> <%= idea.user.last_name %>
      </small></h3></center>
      <hr>
      <div class="col-md-1" style="margin-top:-22px;">

       
<center>
                <h3><%= idea.get_upvotes.size %><small>
                <%if idea.liked_by current_user %>
                <%= link_to unlike_idea_path(idea), method: :put do %>
                <%= fa_icon "plus" ,class: "positive" %>
                <% end %>

                <% else %>
                <%= link_to like_idea_path(idea), method: :put do %>
                <%= fa_icon "minus" ,class: "negative" %>
                <% end %>

                <% end %>
                </small></h3>

                <p>Likes</p>

                
                 <h3><%= idea.followers.count %><small>
                 <% if idea.followed_by?(current_user) == false %>
                <%= link_to follow_idea_path(idea) do %>
                <%= fa_icon "plus" ,class: "positive" %>
                <% end %>
                <% else %>
                <%= link_to unfollow_idea_path(idea) do %>
                <%= fa_icon "minus" ,class: "negative" %>
                <% end %>

                <% end %>
                </small></h3>

                <p>Followers</p>

                <h3><%= idea.comments.count %><small>
                <%= link_to new_idea_comment_path(idea) do %>
                <%= fa_icon "plus" ,class: "positive" %></small></h3>
                <% end %>
                <p>Comments</p></center>



      </div>
      <div class="col-md-11">
      <p>Tags: <%= raw idea.tag_list.map {|t| link_to t, tag_path(t), :class => 'label label-default', :style => 'color:white' }.join(' ')%></p>
      <p><%= idea.description %></p>




</div>
<br>
      <center><h3>Branches (<%= idea.branches.count %>)</h3>
    <%= fa_icon "angle-down 2x",class: "" %></center>
      
      </div>
    </div>
    </div>
    <span style="margin-bottom:200px; margin-top:200px;">&nbsp;</span>
    <% end %>