<!DOCTYPE html>
<html>
<head>
  <title>Ideatree</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= @test = User.last %>

<%= @test.email %>
<%= @test.location %>
First: <%= @test.first_name %>
---
Last: <%= @test.last_name %>
<%= @test.profile_pic %>

<div class="container">
<%= yield %>
</div>
</body>
</html>
