<!DOCTYPE html>
<html>
<head>
	<title>Ideatree</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<!-- Static navbar -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<%= link_to "ITree", ideas_path , :class => 'navbar-brand', :style => "color:white; background-color:#18bc9c;"%>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<!--<form class="navbar-form navbar-left">
						<input type="text" class="form-control" placeholder="Search">
					</form> -->
	
	<%= form_tag(ideas_path, :method => "get", class: "navbar-form navbar-left", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], class: "span2 form-control", style: "width:500px;", placeholder: "Search Ideas" %>
      <button class="btn btn-success" type="submit" style="margin-left:-8px;"><%= fa_icon "search" %></button>
  <% end %>

					<ul class="nav navbar-nav pull-right nav-buttons">
						<li><button type="button" class="btn btn-transparent pull-right">
							<%= fa_icon "home" ,class: "nav-icons pull-left" %><%= link_to 'Home', ideas_path %>
						</button></li>
						<li><button type="button" class="btn btn-transparent pull-right"><%= fa_icon "bolt",class: "nav-icons pull-left" %><%= link_to "Notifications", edit_user_registration_path %></button></li>
						<li><button type="button" class="btn btn-transparent pull-right"><%= fa_icon "user",class: "nav-icons pull-left" %><%= link_to current_user.first_name, edit_user_registration_path %></button></li>
						<li><button type="button" class="btn btn-success btn-sm new-idea">
						<%= fa_icon "lightbulb-o",class: "nav-icons pull-left" %><%= link_to 'New Idea', new_idea_path %>
					</button></li>
					</ul>

					
				</div>
			</div>
		</nav>
	</div>

	 
<!--
<%= @test = User.last %>

<%= @test.email %>
<%= @test.location %>
First: <%= @test.first_name %>
Last: <%= @test.last_name %>
<%= @test.profile_pic %>-->
<div class="container">
	<div class="col-md-2" id="side-nav">
		<h4 class="channel-header">Main Channels</h4>
		<h6><%= link_to "Newest Ideas", ideas_path %></h6>
		<h6><%= link_to "Hot List", ideas_path(hot: 'hottest') %></h6>
		<!--<h6><%= link_to "Most Branched", ideas_path(branched: 'most') %></h6>
		<h6><%= link_to "Most Liked", ideas_path(most_liked: 'best') %></h6> -->

		<h4 class="channel-header">Categories</h4>
		<% tag_cloud Idea.tag_counts, %w[s m l] do |tag, css_class| %>
        <h6><%= link_to "#{tag}", tag_path(tag.name), class: css_class %></h6>
        <% end %>
		<h4 class="channel-header">Your Channels</h4>
		<h6><%= link_to "Your Ideas", user_ideas_idea_path(current_user) %></h6>
		<h6>Following</h6>
		<h6>Likes</h6>
		<h4 class="channel-header"><%= fa_icon "star-o" %>Invite Friends</h4>
	</div>
	<div class="col-md-8">
		<%= yield %>
	</div>
	<div class="col-md-2">
	</div>
</div>
</body>
</html>
